
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import '~vuetify/dist/vuetify.min.css';

table.v-datatable.v-table tbody tr td {
  border:1px solid #eee;
}
table.v-datatable.v-table th {
  border:1px solid #888;
  font-weight:bold;
}